In [2]:
# Requirement.
# 1. Connect to sql database using python.
import psycopg2
import pandas as pd


hostname = 'localhost'
username = 'postgres'
password = 'Brave37hill99$'
database = 'second database'
myConnection = psycopg2.connect( host=hostname, user=username, password=password, dbname=database )
myConnection.close()

In [3]:
# 2. Create dataframe by selecting all the cards_ingest.tran_fact

mycursor = myConnection()

mycursor.execute("SELECT*FROM cards_ingest.tran_fact")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

In [4]:
# 3. if the any state has NUll , replace it with TX

mycursor = myConnection()

mycursor.execute("SELECT stat_cd FROM cards_ingest.tran_fact")

def makeTX():
    if 'stat_cd' = 'NULL':
        'stat_cd' = 'TX'

def makeTX()

In [5]:
# 4. Create another col as commison = tran_ammt*.4
mycursor = myConnection()

query = 'ALTER TABLE cards_ingest.tran_fact ADD commison VARCHAR(100)'

mycursor.execute(query)

myConnection.close()

In [6]:
# 5. Create another table as cards_ingest.tran_fact with one extra col
mycursor = myConnection()

sql = '''CREATE TABLE cards_ingest.cust_dim_details(
    tran_id int,
    cust_id VARCHAR(10),
    stat_cd VARCHAR(2)
    tran_ammt decimal(10,2),
    tran_date date
    cust_name TEXT)'''

mycursor.execute(sql)
myConnection.close()

In [7]:
# 6. Checkk if any null value still exists after the change.
mycursor = myConnection()

sql = '''SELECT* FROM cards_ingest.cust_dim_details
        WHERE (tran_id IS NULL or cust_id IS NULL or stat_cd IS NULL or tran_ammt IS NULL or tran_date IS NULL or cust_name IS NULL)'''

mycursor.execute(sql)
myConnection.close()

In [8]:
# 7. Load Data to the new table.
mycursor = myConnection.cursor()


sql = '''INSERT INTO cards_ingest.cust_dim_details(tran_id,cust_id,stat_cd,tran_ammt,tran_date,cust_name)
        VALUES(123456, cust_202, 'AZ',1234, to_date('2023-01-01','yyyy-mm-dd'),'Jake')'''

mycursor.execute(sql)
myConnection.commit()

In [9]:
# 8. Compare the record count from two tables to make sure that same number of records have been loaded.
mycursor = myConnection.cursor()

sql = '''SELECT * FROM
        (
        (SELECT COUNT(*) FROM cards_ingest.tran_fact)
        MINUS
        (SELECT COUNT(*) FROM cards_ingest.cust_dim_details)
        )
        UNION ALL
        SELECT * FROM
        (
        (SELECT COUNT(*) FROM cards_ingest.cust_dim_details)MINUS(SELECT COUNT(*) FROM cards_ingets.tran_fact)
        )'''

mycursor.execute(sql)
myConnection.commit()